{% extends 'videos/base.html' %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
    <div class="row justify-content-center pt-5">
        <div class="col-md-6 col-sm-12 col-xs-12 text-center">
            <h1>Create Video</h1>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-12 col-xs-12">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form | crispy }}
                <button class="btn btn-outline-primary btn-block" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock content %}