{% extends 'videos/base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
            <video width="640", height="480" controls>
                <source src="/media/{{ object.videoFile }}" type="video/mp4">
                Your browser does not support the video tag
            </video>
            <h5>{{ object.title }}</h5>
            <hr>
            <p> {{ object.description }}</p>
        </div>
    </div>
</div>
    
    
{% endblock content %}